* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #358bdc;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 30px;
}

h1 {
  text-align: center;
  padding: 30px;
  font-size: 70px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 5px 5px #000;
}

h1 span {
    display: block;
}

h2 {
    padding-bottom: 30px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-decoration: underline;
    font-size: 30px;
}

.kartya-section {
    padding: 0 30px;
}

.kartyak {
  display: flex;
  flex-wrap: wrap;
  gap: 30px
}

.kartya {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid black;
  width: 300px;
  align-items: center;
  box-shadow: 5px 5px 5px #000;
}

.kartya-fejlec {
  width: 100%;
}

.kartya-fejlec h3 {
  background-color: #bbb;
  color: #000;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #000;
}

.kartya-tartalom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 30px;
  align-items: center;
}

ul.kartya-adatok {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.torlo-gomb {
  background: #dc3545;
  border-color: #ed9aa2;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
}
